body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
    transition: all 0.3s ease;
    z-index: 999;
}

.sidebar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar.active {
    left: 0;
}

.main-content {
    transition: margin-left 0.3s ease;
    padding: 20px;
    margin-left: 250px;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

body {
    padding-top: 80px;
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .sidebar {
        width: 50%;
        left: -100%; 
    }

    .sidebar.active {
        left: 0; 
    }

    .main-content {
        margin-left: 0;
    }
}


