<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOLIST</title>

    <script src="offline/js/jquery.js"></script>
    <script src="offline/js/bootstrap.bundle.min.js"></script>
    <script src="offline/js/dataTables.js"></script>
    <script src="offline/js/dataTables.bootstrap5.js"></script>
    <script src="angularjs/angular.min.js"></script>
    <script src="scripts/module.js"></script>

    <link rel="stylesheet" href="offline/css/bootstrap.min.css">
    <link rel="stylesheet" href="offline/css/dataTables.bootstrap5.css">

    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.cdnfonts.com/css/quicksand" rel="stylesheet">

</head>

<body>
    <div ng-controller="userController">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-10">
                    <table id="userTable" class="table table-striped" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{ user.name }}</td>
                                <td>{{ user.position }}</td>
                                <td>{{ user.office }}</td>
                                <td>{{ user.age }}</td>
                                <td>{{ user.startDate }}</td>
                                <td>{{ user.salary | currency }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="col-md-2 border">
                    <form ng-submit="addPerson()" class="mt-5">
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Name" ng-model="newPerson.name" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Position" ng-model="newPerson.position" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Office" ng-model="newPerson.office" required>
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" placeholder="Age" ng-model="newPerson.age" required>
                        </div>
                        <div class="mb-3">
                            <input type="date" class="form-control" placeholder="Start Date" ng-model="newPerson.startDate" required>
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" placeholder="Salary" ng-model="newPerson.salary" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add New Person</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>